################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MicrobUy_API/Migrations
/.vs
/MicrobUy_API/bin/Debug/net7.0
/MicrobUy_API/obj
